<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List products</title>

    <style>
        .wrapper {
            margin: 0 auto;
            max-width: 900px;
        }
    </style>

</head>
<body>

<div class="wrapper">
    <h1>List products</h1>
    <hr>

    <div class="list-product">

        <div class="item-product" th:each="product : ${paginableItem.getListData()}">
            <p th:text="${product.getName()}"></p>
        </div>

    </div>

</div>

</body>
</html>