<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap-theme.css">
    <link rel="stylesheet" href="../css/ionicons.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="wrapper" class="relative">
        <header>
            <div id="header-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="fee-top relative">
                                <a href="">Miễn phí vẫn chuyển cho đơn hàng từ 499.000Đ</a>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <ul class="menu__inf">
                                <li class="relative"><a class="inline-block" href="">Cửa hàng</a></li>
                                <li class="relative"><a class="inline-block" href="">Hỗ trợ</a></li>
                                <li class="relative"><a class="inline-block" href="">KH thân thiết</a></li>
                                <li class="relative"><a class="inline-block" href="">Tuyển dụng</a></li>
                                <li class="relative"><a class="inline-block" href="">Tài khoản</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="header-bottom">
                <nav>
                    <div class="container">
                        <div class="row">
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <div id="nav-sticker">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">
                            <img src="https://canifa.s3.amazonaws.com/media/wysiwyg/info/logo.jpg" alt="" class="img-responsive brand__img">
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse mega-menu js-mega-menu" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a href="#">NAM</a>
                                <ul class="mega-menu__is">
                                    <li class="mega-menu__item"><a class="link__upper" href="">DANH MỤC SẢN PHẨM</a>
                                        <div>
                                            <ul class="inline-block">
                                                <li><a href="">Áo len</a></li>
                                                <li><a href="">Áo khoác (HOT)</a></li>
                                                <li><a href="">Áo sơ mi</a></li>
                                                <li><a href="">Áo kiểu</a></li>
                                                <li><a href="">Áo phông</a></li>
                                                <li><a href="">Quần jeans</a></li>
                                                <li><a href="">Quần vải</a></li>
                                            </ul>
                                            <ul class="inline-block">
                                                <li><a href="">Quần khaki</a></li>
                                                <li><a href="">Quần shorts</a></li>
                                                <li><a href="">Trang phục đi làm</a></li>
                                                <li><a href="">Trang phục đi tập</a></li>
                                                <li><a href="">Đồ mặc nhà</a></li>
                                                <li><a href="">Đồ mặc trong</a></li>
                                                <li><a href="">Phụ kiện</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mega-menu__item">
                                        <div>
                                            <ul>
                                                <li><a class="link__upper" href="">SẢN PHẨM MỚI</a></li>
                                                <li><a class="link__upper" href="">SẢN PHẦM ĐẶC BIỆT</a></li>
                                                <li><a href="">Trang phục tập luyện</a></li>
                                                <li><a href="">Len cashmere</a></li>
                                                <li><a href="">Giữ nhiệt</a></li>
                                                <li><a href="">Chống thấm nước</a></li>
                                                <li><a href="">SP đạt chứng nhận an toàn</a></li>
                                                <li><a href="">Thoát ẩm vượt trội</a></li>
                                                <li><a href="">Chống nắng</a></li>
                                                <li><a class="link__upper" href="">SALE</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="mega-menu__item"><a class="link__upper" href="">BỘ SƯU TẬP</a>
                                        <div>
                                            <ul>
                                                <li><a href="">Celebration on Earth (New)</a></li>
                                                <li><a href="">Be Active Be Cool</a></li>
                                                <li><a href="">Sports Inspiration</a></li>
                                                <li><a href="">Mickey</a></li>
                                                <li><a href="">Color of nature - Sắc mộc</a></li>
                                                <li><a href="">Urban Cool by Lê Hà</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">NỮ</a>
                                <ul>
                                    <li><a href=""></a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">BÉ TRAI <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">BÉ GÁI</a>
                            </li>
                            <li><a href="">NEW ARRIVALS</a></li>
                            <li><a href="">SALE</a></li>
                        </ul>
                        <div class="navbar-right relative js-navbar-right">
                            <form class="navbar-form navbar-left">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                </div>
                            </form>
                            <div class="navbar-cart__icon">
                                <a href="">
                                    <span><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <footer>
            <div id="footer-top">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="footer__menu">
                                <ul class="menu__cont">
                                    <li><a href="">TÌM KIẾM CỬA HÀNG</a></li>
                                    <li><a href="">TUYỂN DỤNG</a></li>
                                    <li><a href="">BLOG - CHUYỂN ĐỘNG CANIFA</a></li>
                                    <li><a href="">KHẢO SÁT Ý KIẾN KHÁCH HÀNG</a></li>
                                    <li><a href="">ĐIỀU KHOẢN & ĐIỀU KIỆN GIAO DỊCH</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="footer__menu">
                                <h3 class="menu__title">Thương hiệu</h3>
                                <ul class="menu__brand">
                                    <li><a href="">Giới thiệu</a></li>
                                    <li><a href="">Blog</a></li>
                                    <li><a href="">Tuyển dụng</a></li>
                                    <li><a href="">Với cộng đồng</a></li>
                                    <li><a href="">Hệ thống cửa hàng</a></li>
                                    <li><a href="">Liên hệ</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="footer__menu">
                                <h3 class="menu__title">Hỗ trợ</h3>
                                <ul class="menu__spp">
                                    <li><a href="">FAQs - Hỏi đáp</a></li>
                                    <li><a href="">Chính sách vận chuyển</a></li>
                                    <li><a href="">Hướng dẫn chọn kích cỡ</a></li>
                                    <li><a href="">Hướng dẫn thanh toán</a></li>
                                    <li><a href="">Kiểm tra đơn hàng</a></li>
                                    <li><a href="">Yêu cầu đổi trả</a></li>
                                    <li><a href="">Tra cứu điểm thẻ</a></li>
                                    <li><a href="">Chính sách KH thân thiết</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="footer__menu">
                                        <h3 class="menu__title">Đăng ký nhận tin</h3>
                                        <input type="email" placeholder="Enter email">
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="footer__menu">
                                        <h3 class="menu__title">Kết nối</h3>
                                        <ul class="menu__social">
                                            <li><a class="social-icon fb-icon inline-block" href=""></a></li>
                                            <li><a class="social-icon ins-icon inline-block" href=""></a></li>
                                            <li><a class="social-icon ytb-icon inline-block" href=""></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-mid">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-12">
                            <div class="footer_cpn">
                                <h3>Công ty cổ phần Canifa</h3>
                                <p class="info">Địa chỉ trụ sở: Phòng 404 Tòa nhà GP Invest,</p>
                                <p class="info">Nơi cấp: Sở Kế hoạch và đầu tư Hà Nội</p>
                                <p class="info">170 La Thành, P. Ô Chợ Dừa, Q. Đống Đa, Hà Nội</p>
                                <p class="info">Số ĐKKD: 0107574310, ngày cấp: 23/09/2016</p>
                                <p class="info">Điện thoại: +8424 - 7303.0222</p>
                                <p class="info">Fax: +8424 - 6277.6419</p>
                                <p class="info">Email: info@canifa.com</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="footer__certification">
                                <a class="inline-block" href="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="footer__payment">
                                <ul>
                                    <li class="visa inline-block payment-icon"></li>
                                    <li class="master-card inline-block payment-icon"></li>
                                    <li class="cash-on-delivery inline-block payment-icon"></li>
                                    <li class="smart-link inline-block payment-icon"></li>
                                    <li class="fast-post inline-block payment-icon"></li>
                                    <li class="vt-post inline-block payment-icon"></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-12">
                            <div class="footer__app">
                                <div class="col-sm-12">
                                    <div class="app__code-qr">
                                        <img src="https://canifa.s3.amazonaws.com/media/wysiwyg/QR_app.png" class="img-responsive">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="app__store">
                                        <a href="https://itunes.apple.com/vn/app/canifa/id1175895653?l=vi&mt=8">
                                            <img src="https://canifa.s3.amazonaws.com/media/wysiwyg/appstore_btn.png" alt="QR AppStore" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="app__ch-play">
                                        <a href=" https://play.google.com/store/apps/details?id=com.app.canifa&hl=vi">
                                            <img src="https://canifa.s3.amazonaws.com/media/wysiwyg/btn_ggstore.png" alt="QR CH Play" class="img-responsive">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-bottom">
                <div class="home-page inline-block">
                    <a href="" class="inline-block page__link"></a>
                </div>
                <div class="copyright clear-fix">
                    <span>© 2018 CANIFA</span>
                </div>
            </div>
        </footer>
        <div id="stop" class="scrollTop">
            <span><a href="">Top</a></span>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/scrollTop.js"></script>
    <script type="text/javascript" src="../js/megamenu.js"></script>
    <script type="text/javascript" src="../js/jquery.sticky.js"></script>
    <script>
    $(document).ready(function() {
        $("#nav-sticker").sticky({ topSpacing: 0 });
    });
    </script>
</body>

</html>