.carousel-caption {
    text-shadow: none;
}

.carousel-indicators li {
    border: 1px solid #c6cac6;
    border-radius: 0px;
    background-color: #c6cac6;
}

.carousel-indicators .active {
    background-color: #5cb85c;
    border: 1px solid #5cb85c;
}

.carousel-control {
    position: absolute;
    opacity: 1;
    top: calc(50% - 43px);
    margin: 0 20px;
    background: rgba(106, 181, 72, 0.86);
    width: 86px;
    height: 86px;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.btn-primary {
    background-image: -webkit-linear-gradient(top, #8cea0e 0, #205210 100%);
    background-image: linear-gradient(to bottom, #90ec1d 0, #1c820a 100%);
    border-color: none;
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 0.17);
    background-color: #45b32b;
}

.btn {
    border: none;
}

.glyphicon-chevron-left::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 31px;
    height: 56px;
    margin: -15px -20px;
    background: url('../Images/icons/prev-next-1.png') no-repeat;
}

.glyphicon-chevron-right::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 31px;
    height: 56px;
    margin: -15px 5px;
    background: url('../Images/icons/prev-next-1.png') 0 -56px no-repeat;
}
.container-fluid {
	background-color: #fff;
    box-shadow: 0px 0px 8px 0px;
}
.btn-group {
	margin: 0 50px 50px;
}
.btn-group>.btn:first-child,
.btn-group>.btn:last-child{
    margin: 0;
    padding: 0;
}

.btn-group .prev-slide{
	position: absolute;
	width: 9px;
    height: 15px;
    left: -25px;
    top: 10px;
    background: url('../Images/icons/prev-next-2.png') no-repeat;
}
.btn-group .prev-slide:hover {
    background-position:  0 -30px;
}
.btn-group .next-slide{
	position: absolute;
	width: 9px;
    height: 15px;
    left: 15px;
    top: 10px;
    background: url('../Images/icons/prev-next-2.png') 0 -15px no-repeat;
}
.btn-group .next-slide:hover {
	background-position: 0 -45px;
}
.btn-group .colorButton1 {
	color: green;
}
.btn-group .number-slide {
	font-weight: bold;
}

@media screen and (max-width: 700px) {
    .carousel-indicators li {
        padding: 5px;
        border: 4px solid #c6cac6;
    }
    .carousel-indicators .active {
        border: 4px solid #5cb85c;
    }
    .carousel-caption {
    	left: 5%;
    	right: 5%;
    	padding-bottom: 10px;
    }
}